@model LabTask2_MVC.Models.Student
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div>
    <form action="/Student/Create" method="post">
        <input type="text" name="Name" class="form-control" placeholder="Name...">
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        <input type="text" name="DOB" class="form-control" placeholder="Date of birth...">
        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        <input type="text" name="Credit" class="form-control" placeholder="Credit...">
        @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
        <input type="text" name="CGPA" class="form-control" placeholder="CGPA...">
        @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
        <input type="text" name="Dept_Id" class="form-control" placeholder="Department Id....">
        @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
        <input type="submit" class="btn btn-block" value="Add" />
    </form>
</div>
